
  .correo {
    padding: 3px;
  }
  .container {
  border-radius: 5px;
  background-color: #d8e5f2;
  padding: 20px;
  margin-bottom: 3em;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.w3-content .w3-padding .no-padd {
  padding: -30px -30px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  margin-right: auto;
  transition: all 0.3s ease 0s;
}
.logo a:hover {
  color: #0088a9;

}

.logo a {
  font-size: 22px;

}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

@media screen and (max-width: 600px) {
  .nav__links {
display: none;  }
}
